*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: grey;
color: #080708;
}
body{
	background-color: #a85c32;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#080708; 
}

.center{
	width: 90%;
	background-color: #633f55;

}
.container
{
	background-color: #633f55;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: ##633f55;
}
.navbar-brand{
font-size: 30px;	
}
